@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Administration</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <section>
            <p>
                <a asp-action="Upload">Upload file</a>
            </p>

        </section>
    </div>
</div>