@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IQueryable<AspireOrchestrator.Domain.Models.PostingEntry>

@{
    ViewData["Title"] = "Posteringer";
}

<h2>Posteringer</h2>

<div class="col-lg-12">
    @(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.PostingJournal.CreatedDate).Formatted("{0: dd-MM-yyyy}").Titled("Registreringsdato");
            columns.Add(model => model.AccountType).Titled("Kontotype");
            columns.Add(model => model.PostingAccount).Titled("Konto");
            columns.Add(model => model.PostingJournal.PostingDate).Formatted("{0: dd-MM-yyyy}").Titled("Trx dato");
            columns.Add(model => model.PostingMessage).Titled("Note");
            columns.Add(model => model.DebitAmount).Css("text-right").Titled("Debet").Formatted("{0:N}");
            columns.Add(model => model.CreditAmount).Css("text-right").Titled("Kredit").Formatted("{0:N}");
            columns.Add(model => model.PostingDocumentType).Titled("Dokumenttype");
            columns.Add(model => model.PostingJournal.PostingPurpose).Titled("Formål");
        })
        .Sortable()
        .Filterable()
        .Empty("Ingen posteringer fundet")
        .Css("table-hover")
    )
</div>
<p>&nbsp;</p>

<p>
    <a asp-action="PostingAccountSummary" asp-controller="Posting">Tilbage til kontooversigt</a>
</p>
<p>
    <a asp-action="PostingSummary" asp-controller="Posting">Tilbage til overblik</a>
</p>