@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IQueryable<AspireOrchestrator.Domain.Models.PostingAccountSummary>

@{
    var host = Context.Request.Host.Value;
    ViewData["Title"] = "Kontooversigt";
}

<h2>Kontooversigt</h2>

<p>
    <a asp-action="PostingAccountBalance" asp-controller="Posting" asp-route-balaceDate="@DateTime.Today">Se kontobalancer pr. balancedato</a>
</p>

<div class="col-md-12">
    @(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.AccountType).Titled("Kontotype");
            columns.Add(model => model.PostingAccount).Titled("Konto");
            columns.Add(model => model.Currency).Titled("Valuta");
            columns.Add(model => model.DebitBalance).Css("text-right").Titled("Debet").Formatted("{0:N}");
            columns.Add(model => model.CreditBalance).Css("text-right").Titled("Kredit").Formatted("{0:N}");
            columns.Add(model => model.TotalBalance).Css("text-right").Titled("Balance").Formatted("{0:N}");
            columns.Add(model => model.BalanceDate).Titled("Balancedato").Css("text-center").Formatted("{0: dd-MM-yyyy}");
            columns.Add(model => model.PostingAccount).Titled("")
                .Filterable(false).Encoded(false).RenderedAs(model => Html.ActionLink("Vis",
                    "PostingEntries", controllerName:"Posting", "https",host, "", new { type = model.AccountType, postingAccount = model.PostingAccount }, null));
        })
        .Sortable()
        .Filterable()
        .Empty("Ingen posteringer fundet")
        .Css("table-hover")
    )
</div>
<p>&nbsp;</p>
<p>
    <a asp-action="PostingSummary" asp-controller="Posting">Tilbage til overblik</a>
</p>